.posts{
    padding-left: 230px;
    margin-bottom: 20px;
}

@media (max-width: 900px) {
    .posts{
        padding: 0px;
    }
}

.noPosts{
    width:100%;
    position: relative;
text-align: center;
    z-index: 1500;
    max-width: 600px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    }