.profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
}

.SinglePost{
    width:calc(100%-460px);
    position: relative;
    margin: 80px auto 5px;
    /* z-index: 1500; */
    max-width: 600px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    box-shadow: 5px 5px 10px #888888;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 20px;
}

.userDetails{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.upper{
    display: flex;
    padding-bottom: 15px;
    
    align-items: center;
    color: #36454F;
}

.upper1{
    display: flex;
    padding-bottom: 15px;
    justify-content: space-between;
    align-items: center;
    color: #36454F;
}

.image{
    width:100%;
    position: relative;
}

.footer{
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    padding: '0 20px';
}

.likes{
    display: flex;
    align-items: center;
    color: #36454F;
}

.heart{
    color: red;
    font-size: 20px;
    cursor: pointer;
}

.trash{
    color: 	#E00000 ;
    font-size: 20px;
    cursor: pointer;
}

.trash:hover{
color:#FF0000

}

.comments{
    color: #36454F;
}
.comments:hover{
    color: #36454F;
    text-decoration: underline;
    cursor: pointer;
}

@keyframes spinner {
    0% {
      transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
      transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
  }
      
      .spin::before {
        animation: 1.5s linear infinite spinner;
        animation-play-state: inherit;
        border: solid 5px #cfd0d1;
        border-bottom-color: #1c87c9;
        border-radius: 50%;
        content: "";
        height: 40px;
        width: 40px;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        top: 50%;
        /* width: 100px; Need a specific value to work */
        transform: translate3d(-50%, -50%, 0);
        will-change: transform;
      }

@media (max-width: 900px) {
    .SinglePost{
        width:calc(100%-1000px) !important;
        position: relative;
        top: 80px;
        /* left: 230px; */
        /* right: 230px; */
        /* margin:0px  5px; */
   
        padding: 20px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 15px;
        box-shadow: 5px 5px 10px #888888;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        border-radius: 10px;

    }
}

.left{
    margin-right: auto;
    position: absolute;
    top:50%;
    left:10px;
    color: grey;
    font-size: 20px;
    cursor: pointer;
}
.right{
    margin-left: auto;
    position: absolute;
    top: 50%;
    right:10px;
    color: grey;
    font-size: 20px;
    cursor:pointer;
}

@media (max-width: 700px) {
    .SinglePost{
    margin-left: 20px;
    margin-right: 20px;
    }
}

@media (max-width: 930px) and (min-width: 900px) {
    .SinglePost{
    margin-left: 20px;
    margin-right: 20px;
    }
}