.images{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.comments{
    color: #36454F;
    width: 100%;
    overflow: hidden;
}

.form{
    display: flex;
    align-items: center;
    margin: 40px 0;

}

.inputfield{
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 1px solid #36454F;
    outline: none;
    font-size: 16px;
    color: #36454F;
    margin-left: 20px;
}

.profile{
    display: flex;
    align-items: center;
    font-size: 18px;
}

.content{
    width: 100%;
    margin-bottom: 60px;
}

.update{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.form2{
    display: flex;
    align-items: center;
    margin: 20px 0;
    margin-top: 15px;
    flex-direction: column;
}

.cancel{
    width: 80px;
    height: 30px;
    border: none;
    outline: none;
    font-size: 16px;
    color: white;
    margin-left: 20px;
    margin-top: 15px;
    margin-left: auto;
    background-color: #318CE7;
    border-radius: 5px;
    cursor: pointer;
}

.cancel:hover{
    background-color: #2D7ED0;
}


.save{
    width: 80px;
    height: 30px;
    border: none;
    outline: none;
    font-size: 16px;
    color: white;
    margin-left: 20px;
    margin-top: 15px;
    /* margin-left: auto; */
    background-color: #318CE7;
    border-radius: 5px;
    cursor: pointer;
}

.save:hover{
    background-color: #2D7ED0;
}

.buttons{
    display: flex;
    align-items: flex-end;
    margin-left: auto;
}

.comment{
    word-wrap: break-word;
    line-height: 25px;
}