.header{
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 70px; 
    background-color: #318CE7;
    z-index: 1600;
    opacity: 1;
    position: fixed;
    width: 100%;
    .bars{
        display: none;
    }
.heading{
    color: #f6f6f6;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.input{
    outline: none;
    border: none;
    border-radius: 8px;
    width: 40%;
    align-items: center;
    display: flex;
    background-color: #f6f6f6;
    border-radius: 25px;
    padding-left: 10px;
    position: relative;
    .searchItems{
        width: 70%;
        border-radius: 10px;
        max-height: 200px;
        position: absolute;
        background-color: #f6f6f6;
        top: 40px;
        overflow: hidden;
        overflow-y: auto;
        overflow-x: auto;
        .item{
            padding: 10px;
            font-size: 15px;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            color: grey;
            display: flex;
            align-items: center;
            cursor: pointer;
            
            &:hover{
                background-color:#B8B8B8 ;
                color: white;
            }
            .image{
                width: 35px;
                height: 35px;
                border-radius: 50%;
                margin-right: 10px;
            }
            .name{
                font-size: 15px;
                font-family: 'Roboto', sans-serif;
                
            }
        }
    }
    
    .inputField{
        outline: none;
        border: none;
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
        width: 95%;
        height: 15px;
        border-radius: 25px;
        padding: 10px;
        background: #f6f6f6;
    }
    .search{
        color: grey;
        background: #f6f6f6;
    }
}
.icons{
    width: 5%;
    display: flex;
    color: #f6f6f6;
    padding: 10px;
    align-items: left;
    font-size: 20px;
    .message{
        padding-right: 15px;
    }
    .followNotification{
        position: relative;
        padding-right: 15px;
        position: relative;
        .user{
            
        }
        .number{
            position: absolute;
            top: 0;
            right: 6px;
            background-color: red;
            color: white;
            border-radius: 50%;
            width: 5px;
            height: 5px;
            padding: 5px;
            font-size: 10px;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
        }

    }
    .messageNotification{
        position: relative;
        padding-right: 15px;
        position: relative;
        .number{
            position: absolute;
            top: 0;
            right: 6px;
            background-color: red;
            color: white;
            border-radius: 50%;
            width: 5px;
            height: 5px;
            padding: 5px;
            font-size: 10px;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
        }
    }
   
}
.profile{
   width: 10%;
    .image{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
    }
}
}

@media screen and (max-width: 900px){
  
    .header{
        display:flex;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        flex-wrap:wrap;
        padding: 0 10px;
        height: 70px; 
        background-color: #318CE7;
        z-index: 1600;
        opacity: 1;
        position: fixed;
        width: 100%;
       opacity: 1;
        .bars{
            display: block;
            color: #f6f6f6;
            padding-right: 10px;
            align-items: left;
            font-size: 20px;
            width:50px
        }
    .heading{
        color: #f6f6f6;
        font-size: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .input{
        outline: none;
        border: none;
        border-radius: 8px;
        position: relative;
        width: 40%;
        align-items: center;
        display: flex;
        background-color: #f6f6f6;
        border-radius: 25px;
        padding-left: 10px;
        .searchItems{
            top:40px;
            width:100%;
        }
        .inputField{
            outline: none;
            border: none;
            font-size: 15px;
            font-family: 'Roboto', sans-serif;
            width: 95%;
            height: 15px;
            border-radius: 25px;
            padding: 10px;
        }
        .search{
            color: grey;
        }
    }
        .icons{
            display: none;
        }
        .profile{
       display: none;
        }
    }
}

.user:hover{
    color:#F0FFFF;
}

.message:hover{
    color:#F0FFFF;
}

.bell:hover{
    color:#F0FFFF;
}

/* width */
.searchItems::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  .searchItems::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  .searchItems::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  .searchItems::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }