.header{
    display: flex;
    align-items: center;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
}

.profileimage{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.editProfile{
    padding-left: 250px;
    padding-right: 210px;
    padding-top: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}


.change{
    margin-left: 40px;
    margin-right: 20px;
    width: 100%;
    border: 2px solid grey;
    border-radius: 5px;
    padding: 10px;
}


.forminput{
    display: flex;
    
    flex-direction: column;
  
}

.forminput input{
    width: 30rem;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
    height: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-right: 20px;
}

.fields{
    display:flex;

}

.forminput textarea{
    width: 30rem;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
   
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.name{
    padding-bottom: 20px;
}

.bio{
    padding-bottom: 30px;
}


   .footer{
    display: flex;
    margin-top: 20px;
    
    margin-right: 20px;
    font-size: 12px;
    align-items: center;
   }

   .button{
    text-align: center;
    width: 100px;
    height:35px;
    font-size: 12px;
    border-radius: 5px;
    color:white;
    background-color: #318CE7;
    border:none;
    cursor: pointer;
}

.button:hover{
    background-color: 	#A8A8A8;

}

.button1{
    text-align: center;
    width: 100px;
    height:35px;
    font-size: 12px;
    border-radius: 5px;
    color:white;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    cursor: pointer;
    }

.password{
    margin-left: 20px;
    margin-right: 20px;
}

.password:hover{
    color: #318CE7;
    cursor: pointer;
}

.email:hover{
    color: #318CE7;
    cursor: pointer;
}

.error{
    color: red;
    font-size: 12px;
    margin-top: 0%;
    margin-left: 20px;
    margin-bottom: 0%;
    }

@media (max-width: 1065px) and (min-width: 1010px) {
    /* .forminput input{
       width: 20rem;
    }
   
       .forminput textarea{
           width: 20rem;
       } */
       .editProfile{
           padding-right: 150px;
       }
   
   }
   
   @media (max-width: 1010px) and (min-width: 900px) {
       .forminput input{
          width: 20rem;
       }
      
          .forminput textarea{
              width: 20rem;
          }
          .editProfile{
              padding-right: 150px;
          }
      
      }
   
   @media (max-width: 900px) and (min-width: 800px) {
       .forminput input{
          width: 20rem;
       }
      
          .forminput textarea{
              width: 20rem;
          }
          .editProfile{
              padding-right: 150px;
              padding-left: 150px;
          }
      
      }
   
      @media (max-width: 800px) {
       .forminput input{
          width: 20rem;
       }
      
          .forminput textarea{
              width: 20rem;
          }
            .editProfile{
                 padding-right: 100px;
                 padding-left: 0px;
            }
      
      }
   
   @media (max-width: 540px) {
       .forminput input{
          width: 10rem;
       }
      
       .forminput textarea{
           width: 10rem;
       }
       .editProfile{
           padding-right: 100px;
           padding-left: 0px;
       }
   .footer{
       display: flex;
       flex-direction: column;
       align-items: flex-start;
   }
   .password{
         margin-left: 0px;
         margin-right: 0px;
   }
      
   }
   
      @media(max-width:390px){
       .forminput input{
          width: 7rem;
          margin-left: 0px;
       }
      
          .forminput textarea{
              width: 7rem;
              margin-left: 0px;
          }
            .editProfile{
                 padding-right: 100px;
                 padding-left: 0px;
                 margin-left: 5px;
            }
            .error{
                margin-left: 0px;
            }
      }

      @media(max-width:590px) and (min-width: 540px){
        .name{
            padding-bottom: 0px;
        }
        .bio{
            padding-bottom: 0px;
        }
      }
    @media (max-width:370px){
        .name{
            padding-bottom: 0px;
        }
        .bio{
            padding-bottom: 0px;
        }
    }
   
    @media (max-width: 430px) and (min-width: 390px){
        .name{
            padding-bottom: 0px;
        }
        .bio{
            padding-bottom: 0px;
        }
    }
    
    @media (max-width: 1054px) and (min-width: 1011px){
        .name{
            padding-bottom: 0px;
        }
        .bio{
            padding-bottom: 0px;
        }
    }

    @media (max-width: 1112px) and (min-width: 1065px){
        .name{
            padding-bottom: 0px;
        }
        .bio{
            padding-bottom: 0px;
        }
    }